@import "~node_modules/modern-normalize/modern-normalize.css";

.container {
  max-width: $mobile;
  height: 100%;
  margin: 0 auto;
  padding: 50px 0;

  @media screen and (min-width: $tablet) {
    width: $tablet;
    max-width: 668px;
  }

  @media screen and (min-width: $desktop) {
    max-width: none;
    width: 1110px;
  }
}

