.p-table {
  // width: 1200px;
  display: grid;
  grid-template-columns: repeat(18, 60px);
  justify-content: start;
  column-gap: 7px;
  row-gap: 4px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  width: 60px;
  height: 70px;
  border: 2px solid #000;
  text-align: center;
  font-size: 8px;

  grid-column: var(--group);
}

.element-symbol {
  font-size: 20px;
}

.group-1,
.group-2 {
  background-color: #ff9a9a;
}
