.p-table {
  display: flex;
  flex-direction: column;
  max-width: 1330px;
  gap: 12px;
}
.p-top {
  display: grid;
  grid-template-columns: repeat(18, 70px);
  justify-content: start;
  row-gap: 7px;
  column-gap: 4px;
}

.p-bottom {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items: end;
  gap: 4px;
}

.p-lanthanide, .p-actinide {
  display: flex;
  gap: 4px;
}

.element {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 5px;
  height: 80px;
  border: 2px solid #000;
  text-align: center;
  font-size: 10px;
  padding: 2px;
  overflow: hidden;
  min-width: 0;
  grid-column: var(--group);
}

.lanthanide, .actinide {
  width: 62.8px;
}

.element-atomnum {
  width: 95%;
  font-size: 14px;
  text-align: left;
  line-height: normal;
}

.element-symbol {
  font-size: 20px;
}

.group-1,
.group-2 {
  background-color: #ff9a9a;
}
